<div class="p-4 space-y-4 max-w-[25%]">
  <div class="space-y-2">
    <h3>Shortcut Card</h3>
    <ds-shortcut
      className="max-w-[50%]"
      [icon]="shortcut.icon"
      [title]="shortcut.title"
      [link]="shortcut.link"
    ></ds-shortcut>
  </div>
  <div class="space-y-2">
    <h3>Shortcut Block</h3>
    <div class="grid grid-cols-2 gap-4">
      <ds-shortcut
        *ngFor="let card of shortcuts"
        [icon]="card.icon"
        [title]="card.title"
        [link]="card.link"
      ></ds-shortcut>
    </div>
  </div>
</div>
