<div class="p-4 grid gap-6">
  <h3>Default Heading</h3>
  <ds-heading title="Section Title" variant="default"></ds-heading>
  <hr />
  <h3>Heading with Icon</h3>
  <ds-heading title="Settings" variant="default" icon="gear"></ds-heading>

  <hr />
  <h3>Title Variant</h3>
  <ds-heading title="Main Section" variant="title"></ds-heading>

  <hr />
  <h3>Block Variant + Separator</h3>
  <ds-heading title="Headline" variant="block" [separator]="true"></ds-heading>

  <hr />
  <h3>Custom HTML Tag + Text Variant Override</h3>
  <ds-heading
    title="Custom Tag Example"
    variant="default"
    textVariant="text-xl/Bold"
    as="h2"
  ></ds-heading>
  <hr />

  <h3>With Content Slot</h3>
  <ds-heading title="Header with Description" variant="default" icon="info">
    <p class="text-sm text-neutral-500 ms-10">
      This is a description below the header
    </p>
  </ds-heading>
  <hr />
</div>
