@layer base {
    :root{   
        --color__Backgound__Bglevel1:#1a3432;
        --color__Backgound__Bglevel3:var(--color/white);
        --color__neutral__25:#f9fafb;
        --color__neutral__100:#e2e5e9;
        --color__neutral__200:#c5cad3;
        --color__neutral__300:#a8afbd;
        --color__neutral__400:#8a94a8;
        --color__neutral__500:#6d7992;
        --color__neutral__600:#576175;
        --color__neutral__700:#576175;
        --color__neutral__800:#2b303b;
        --color__neutral__900:#1d1716;
        --color__neutral__950:#0d0f12;
        --color__red__50:#fdf3f2;
        --color__red__100:#f6ccc6;
        --color__red__200:#efa49a;
        --color__red__300:#e87c6e;
        --color__red__400:#e15542;
        --color__red__500:#cd3621;
        --color__red__600:#a32b1a;
        --color__red__700:#771f13;
        --color__red__800:#4b140c;
        --color__red__900:#1f0805;
        --color__red__950:#120503;
        --color__amber__50:#fffbeb;

        --color__green__50:#d8e9e7;
        --color__green__100:#b8d6d3;
        --color__green__200:#98c3bf;
        --color__green__300:#78b0ab;
        --color__green__400:#5b9a95;
        --color__green__500:#487a76;
        --color__green__600:#355a57;
        --color__green__700:#223a38;
        --color__green__800:#0f1a19;
        --color__green__900:#0b1313;
        --color__green__950:#060a0a;

        --color__blue__50:#eff6ff;
        --color__blue__100:#dbeafe;
        --color__blue__200:#bedbff;
        --color__blue__300:#8ec5ff;
        --color__blue__400:#51a2ff;
        --color__blue__500:#2b7fff;
        --color__blue__600:#155dfc;
        --color__blue__700:#1447e6;
        --color__blue__800:#193cb8;
        --color__blue__900:#1c398e;
        --color__blue__950:#162456;

        --color__violet__50:#f5f3ff;
        --color__violet__100:#f5f3ff;
        --color__violet__200:#ddd6ff;
        --color__violet__300:#c4b4ff;
        --color__violet__400:#a684ff;
        --color__violet__500:#8e51ff;
        --color__violet__600:#7f22fe;
        --color__violet__700:#7008e7;
        --color__violet__800:#5d0ec0;
        --color__violet__900:#4d179a;
        --color__violet__950:#2f0d68;

        --color__rose__50:#fff1f2;
        --color__rose__100:#ffe4e6;
        --color__rose__200:#ffccd3;
        --color__rose__300:#ffa1ad;
        --color__rose__400:#ff637e;
        --color__rose__500:#ff2056;
        --color__rose__600:#ec003f;
        --color__rose__700:#c70036;
        --color__rose__800:#a50036;
        --color__rose__900:#8b0836;
        --color__rose__950:#4d0218;

        --color__Crame__900:#0a0905;
        --color__Crame__800:#2b2818;
        --color__Crame__600:#6c663d;
        --color__Crame__500:#8c854f;
        --color__Crame__400:#a8a166;
        --color__Crame__700:#4b472a;
        --color__Crame__300:#bbb587;
        --color__Crame__200:#cdc9a7;
        --color__Crame__100:#e0ddc8;
        --color__Crame__50:#f2f1e8;

        --color__amber__900:#7b3306;
        --color__amber__300:#ffd230;
        --color__amber__800:#973c00;
        --color__amber__500:#fd9a00;
        --color__amber__400:#ffba00;
        --color__amber__950:#461901;
        --color__amber__700:#bb4d00;
        --color__amber__100:#fef3c6;
        --color__amber__600:#e17100;
        --color__amber__200:#fee685;
        
        --color__black:#0a0a0a;
        --color__white:#ffffff;
        --color__Backgound__Bglevel2:#355c53;
        --color__Backgound__Bglevel4:var(--color/white);
        --color__Cards__Bgcardlevel1:#d8e8e7;
        --color__Cards__Bgcardlevel2:var(--color/white);
        --color__Icon:#cd3621;
        --color__Cards__Bgcardlevel4:var(--color/white);
        --color__Backgound__Bglevel5:var(--color/white);
        --color__Cards__Bgcardlevel5:var(--color/white);
        --color__neutral__50:#f0f2f4;
        --color__gradient__bg:#f8f7f2;
        --color__gradient__bgcolorred:#f2f1e8;
        --color__Stroke__stroke1:var(--color/neutral/50);
        --color__Stroke__stroke2:var(--color/neutral/200);
        --color__Stroke__stroke4:#f3f4f6;
        --color__Stroke__stroke3:var(--color/neutral/50);
        --color__Cards__Bgcardlevel6:var(--color/neutral/50);
        --color__gradient__bg2:#f2f1e8;
        --color__gradient__bgcolorgreen2:#f2f1e8;
        --color__Backgound__Bglevel6:var(--color/neutral/25);
        --color__Succes:#59b692;
        --color__Erreur:#d23a40;
    } 
}