<aside
  class="max-w-[225px] w-full dark:bg-zinc-800 bg-zinc-100 fixed min-h-screen shrink-0"
>
  <div class="space-y-4 flex-col flex justify-center items-center p-4">
    <a
      routerLink="/"
      class="flex items-center gap-2 text-zinc-900 dark:text-white"
      [routerLinkActive]="['dark:text-white', 'text-zinc-900']"
    >
      <div class="w-[150px] mx-auto asepct-[16/9]">
        <img
          src="/assets/logo-dark.svg"
          alt="{{ title }}"
          class="w-full h-full dark:hidden block"
        />
        <img
          src="/assets/logo-light.svg"
          alt="{{ title }}"
          class="w-full h-full dark:block hidden"
        />
      </div>
    </a>

    <div class="w-full text-center">
      <app-logo></app-logo>
      <span class="text-xs inline-block">Design System</span>
    </div>
    <div>
      <ds-input
        id="searchInput"
        name="searchInput"
        #searchInputHost
        [className]="'w-[calc(100%+16px)] -mx-2'"
        placeholder="Search components..."
        [value]="searchTerm"
        (input)="onSearch($event.target.value)"
      >
        <ds-icon prefix id="Search" class="text-neutral-500"></ds-icon>
        <kbd
          suffix
          class="bg-neutral-100 dark:bg-neutral-300 py-0.5 px-1 rounded text-neutral-600 text-[10px] text-nowrap text-center"
        >
          {{ os === "mac" ? "CMD" : "CTRL" }} + K
        </kbd>
      </ds-input>
    </div>
  </div>
  <div class="relative">
    <ul
      #scrollContainer
      (scroll)="onScroll()"
      class="w-full h-[calc(100vh-195px-12px-12px-30px)] overflow-y-auto custom-scrollbar"
    >
      <li *ngFor="let menu of filteredMenus" class="group text-xs w-full">
        <a
          routerLink="{{ menu.path }}"
          (click)="searchTerm = ''"
          class="w-full gap-2 items-center inline-flex transition-all duration-300 ease-in-out group-hover:bg-zinc-200 dark:group-hover:bg-zinc-700 py-2 px-2.5"
          [routerLinkActive]="[
            'dark:bg-zinc-700',
            'font-semibold',
            'bg-zinc-200'
          ]"
        >
          <ds-icon
            id="folder-open"
            [class]="
              'size-4 group-hover:text-zinc-900 dark:group-hover:text-zinc-300 transition-all duration-300 ease-in-out ' +
              (currentPath === menu.path
                ? 'dark:text-white text-zinc-900'
                : 'dark:text-zinc-600 text-zinc-500')
            "
          ></ds-icon>
          {{ menu.name }}
        </a>
      </li>
    </ul>

    <!-- top fade -->
    <div
      *ngIf="showTopMask"
      class="pointer-events-none absolute w-full left-0 top-0 h-20 dark:from-zinc-800 to-transparent bg-gradient-to-b from-zinc-100"
    ></div>

    <!-- bottom fade -->
    <div
      *ngIf="showBottomMask"
      class="pointer-events-none absolute w-full left-0 bottom-0 h-20 dark:from-zinc-800 to-transparent bg-gradient-to-t from-zinc-100"
    ></div>
  </div>

  <button
    (click)="toggleTheme()"
    class="absolute bottom-4 left-1/2 -translate-x-1/2 rounded border border-zinc-300 dark:border-zinc-700 p-2"
    [attr.aria-label]="
      'Toggle theme to ' + (theme === 'dark' ? 'light' : 'dark')
    "
  >
    <ds-icon [id]="theme === 'dark' ? 'sun' : 'moon'"></ds-icon>
  </button>
</aside>
