<div class="p-4 flex flex-col gap-6 min-h-screen">
  <h3>Variants</h3>
  <div class="flex gap-2 flex-wrap">
    <ds-badge
      *ngFor="let variant of variants"
      [label]="variant"
      [variant]="variant"
      withDot="true"
      (onClick)="onBadgeClick($event)"
    ></ds-badge>
  </div>

  <h3>Sizes</h3>
  <div class="flex gap-2 flex-wrap">
    <ds-badge
      *ngFor="let size of sizes"
      [label]="size +':Badge Size'"
      [size]="size"
      variant="default"
    ></ds-badge>
  </div>

  <h3>Pill Style</h3>
  <div class="flex gap-2 flex-wrap">
    <ds-badge
      *ngFor="let variant of variants"
      [label]="variant"
      [variant]="variant"
      withDot="true"
      (onClick)="onBadgeClick($event)"
      [pill]="true"
    ></ds-badge>
  </div>

  <h3>With Icons</h3>
  <div class="flex gap-2 flex-wrap">
    <ds-badge label="With Icon" icon="check" variant="violet"></ds-badge>
    <ds-badge
      label="With Icon"
      [iconRight]="true"
      icon="check"
      variant="red"
    ></ds-badge>
  </div>

  <h3>As Link</h3>
  <div class="flex gap-2 flex-wrap">
    <ds-badge label="Clickable Badge" href="https://example.com"></ds-badge>
  </div>
</div>
