<app-drawer
  [title]="'Button Controls'"
  [isOpen]="isDrawerOpen"
  [controls]="controls"
  (closed)="onDrawerClosed()"
  (controlChange)="onControlChanged($event)"
>
  <ds-button
    [variant]="props.variant"
    [disabled]="props.disabled"
    [pill]="props.pill"
    [outline]="props.outline"
    [size]="props.size"
    [isLoading]="props.isLoading"
    [icon]="props.icon"
    [iconLeft]="props.iconLeft"
    [iconRight]="props.iconRight"
  >
    {{ props.content }}
  </ds-button>
</app-drawer>
