<div class="p-4 flex flex-col min-h-screen bg-white gap-5">
  <h2 class="text-3xl font-bold">Progress Variants</h2>

  <div *ngFor="let t of types" class="flex flex-col border p-4 gap-4">
    <h3 class="text-lg font-semibold capitalize">{{t}} Types</h3>
    <div *ngFor="let variant of variants">
      <h4 class="text-base font-medium capitalize">{{ variant }}</h4>
      <div class="grid gap-2">
        <ds-progress
          *ngFor="let percent of percentages"
          [variant]="variant"
          [type]="t"
          suffix="%"
          [percentage]="percent"
        ></ds-progress>
      </div>
    </div>
  </div>
  <h2 class="text-3xl font-bold">Progress with Total Example</h2>

  <ds-progress
    label="With total example"
    [percentage]="30"
    [total]="60"
  ></ds-progress>
</div>
